body {
    background: #fff;
}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(189, 231, 211);
    text-align: center;
}
main {
    background: #fff;
    text-align: center;
}
footer {
    background: rgb(189, 231, 211);
    text-align: center;
    margin-top: 40px;
}
